*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* ===============navbar start================= */
body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  .nav {
    height: 50px;
    width: 100vw;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    position: relative;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
    margin-left: 50px;
  }
  
  .nav > .nav-header > .nav-title span{
    color: rgb(15, 190, 190);
    font-weight:900;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .nav-header .nav-title input{
    margin-left: 20px;
    border: none;
    outline: none;
    font-size: 17px;
    border: 1px solid rgb(168, 167, 167);
    border-radius: 0 5px;
  }
  
  .nav-header .nav-title input::placeholder{
    color: rgb(187, 185, 185);
    font-family: 'Times New Roman', Times, serif;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    margin-right: 50px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: grey;
    transition: all 0.5s;
  }
  
  .nav > .nav-links > a:hover {
    text-decoration: underline;
    color: rgb(4, 119, 119);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:750px) {
    .nav > .nav-header > .nav-title{
        margin: 0;
     }
    .box2 ul li{
        display: none;
    }
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid rgb(0, 238, 255);
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background: transparent;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
      color: black;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      /* height: calc(100vh - 50px); */
      height: 250px;
    }
}
/* ==================navbar end==================== */

/* ==============banner start===================== */
.banner{
    width: 100vw;
    height: 350px;
    /* border: 1px solid red; */
    background-image: url(./../Image/image2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.banner h2{
    text-align: center;
    color: white;
    margin-bottom: 10px;
    font-size: 35px;
}

.banner p{
    color: white;
}
/* =======================banner end================== */

/* ====================box_parent1 start================ */
.box_parent1{
     width: 100vw;
     height: auto;
     /* border: 1px solid red; */
     display: flex;
     justify-content: center;
     align-items: center;
     justify-content: space-around;
     margin-bottom: 100px;
     flex-wrap: wrap;
}

.box_parent1 .box_child1{
    width: 500px;
    height: 300px;
    /* border: 1px solid red; */
    background-image: url(./../Image/image1.jpg);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.box_child1 p{
    margin-left: 10px;
    color: white;
    margin-bottom: 5px
} 
.box_child1 h2{
    margin-left: 10px;
    color: white;
    margin-bottom: 5px;
}

.box_child1 h4{
    margin-left: 10px;
    color: white;
    margin-bottom: 5px;
}

.box_child1 button{
    width: 80px;
    height:40px;
    margin-left: 10px;
    background: transparent;
    border: none;
    border: 1px solid white;
    border-radius: 0 10px;
    color: white;
    font-weight: 500;
    transition:all 0.5s ;
}

.box_child1 button:hover{
    letter-spacing: 5px;
    width: 160px;
}

.box_child2{
    width: 500px;
    height: 300px;
    /* border: 1px solid red; */
    background-image: url(./../Image/image5.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box_child2 p{
    margin-left: 10px;
    color: white;
    margin-bottom: 5px
} 
.box_child2 h2{
    margin-left: 10px;
    color: white;
    margin-bottom: 5px;
}

.box_child2 h4{
    margin-left: 10px;
    color: white;
    margin-bottom: 5px;
}

.box_child2 button{
    width: 80px;
    height:40px;
    margin-left: 10px;
    background: transparent;
    border: none;
    border: 1px solid white;
    border-radius: 0 10px;
    color: white;
    font-weight: 500;
    transition:all 0.5s ;
}

.box_child2 button:hover{
    letter-spacing: 5px;
    width: 160px;
}
/* ====================box_parent1 end================== */


/* ====================box_parent2 end================== */
.box_parent2{
   width: 100vw;
   height: auto;
   /* border: 1px solid red; */
   display: flex;
   justify-content: center;
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;
}

.box_parent2 .box_child3{
    width: 400px;
    height: 300px;
    /* border: 1px solid red; */
    background-image: url(./../Image/image3.jpg);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box_child3 h2{
    color: white;
    font-size: 30px;
}

.box_child3 p{
    color: white;
    font-size: 20px;
}


.box_parent2 .box_child4{
    width: 400px;
    height: 300px;
    /* border: 1px solid red; */
    background-image: url(./../Image/image4.jpg);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box_child4 h2{
    color: white;
    font-size: 30px;
}

.box_child4 p{
    color: white;
    font-size: 20px;
}


.box_parent2 .box_child5{
    width: 400px;
    height: 300px;
    /* border: 1px solid red; */
    background-image: url(./../Image/image6.jpg);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box_child5 h2{
    color: white;
    font-size: 30px;
}

.box_child5 p{
    color: white;
    font-size: 20px;
}
/* ====================box_parent2 end================== */

/* ==================sign_box start======================== */
.sign_box{
    width: 100vw;
    height:auto;
    /* border: 1px solid red; */
    margin-top: 100px;
    background-color: #093079;
    padding: 50px;
    display:flex ;
    justify-content: space-between;
    flex-wrap:wrap ;
}

.sign_box .box3{
    width:400px;
    height:70px;
    /* border:1px  solid red; */
    margin-bottom: 10px;
}

.sign_box .box3 h2{
    color: white;
    margin-bottom: 10px;
}

.sign_box .box3 p{
    color: grey;
}

.sign_box .box3 p span{
    color: yellow;
}

.sign_box .box4{
    width: 365px;
    height: 50px;
    /* border: 1px solid red; */
    margin-right: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sign_box .box4 input{
    width: 300px;
    height: 30px;
    border: none;
    outline: none;
    margin-left: 10px;
    font-size: large;
}

.sign_box .box4 button{
    padding: 10px 10px 10px 10px ;
    border: none;
    background-color: #088178;
    color: white;
    margin-left: 10px;
    position: absolute;
    top: 0;
    right: 0;
}
/* ==================sign_box end======================== */


/* ===================footer_box start===================== */
.footer_parent{
    width: 100vw;
    height: auto;
    /* border: 1px solid red; */
}

.footer_parent .footer_child1{
    width: 100vw;
    height: 31%;
    /* border: 5px solid blue; */
}

.footer_child1 svg{
    width: 100vw;
    margin-bottom: -30px;
}

.footer_parent .footer_child2{
    width: 100vw;
    height: 69%;
    /* border: 5px solid red; */
    background-color: #0099ff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.footer_child2 .box5{
    width: 300px;
    height: 200px;
    /* border: 1px solid red; */
}

.footer_child2 h2{
    margin-left: 20px;
    margin-bottom: 30px;
    color: white;
}

.footer_child2 .box5 li{
    list-style: none;
    margin-left: 10px;
    margin-bottom: 10px;
    color: white;
}

.footer_child2 .box5 li span{
    color: white;
}

.footer_child2 .box6{
    width: 300px;
    height:200px;
    /* border:  1px solid red; */
}

.footer_child2 .box6 li a{
    text-decoration: none;
    color:white;
}

.footer_child2 .box6 li{
    list-style: none;
    margin-left: 10px;
    margin-bottom: 10px;
}

.footer_child2 .box7{
    width: 300px;
    height:200px;
    /* border:  1px solid red; */
}

.footer_child2 .box7 li a{
    text-decoration: none;
    color:white;
}

.footer_child2 .box7 li{
    list-style: none;
    margin-left: 10px;
    margin-bottom: 10px;
}

.footer_child2 .box8{
    width: 300px;
    height: 200px;
    /* border: 1px solid red; */
}

.footer_child2 .box8 i{
    margin-left: 10px;
    color: white;
}
/* ===================footer_box end===================== */

p{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: grey;
}